Django>=3.0,<4.0
psycopg2-binary>=2.8
django-autocomplete-light
django-ckeditor
django-import-export
django-multiselectfield
sorl-thumbnail<12.11.0
django-markdownx
WeasyPrint
python-binary-memcached
django-bmemcached
gunicorn
django-on-heroku
django-storages
boto3
requests
django-debug-toolbar
APScheduler
black
