{% extends 'base.html' %}
{% load thumbnail %}
{% load contenu_tags %}

{% block body %}
<div class="container">
    <div class="actu-container">
        <h1 class="annexe-title actus-list-title">
            <span class="actus-title-text">Actualités</span>
        </h1>
        <div class="row">
            {% for actu in actus %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="actus-item">
                        <div class="actus-item-picture">
                            {% thumbnail actu.image_principale "390x230" crop="center" as im %}
                            <img src="{{im.url}}" alt="">
                            {% endthumbnail %}
                            <a href="/actu/{{actu.url}}/" class="actus-item-link"><span class="actus-item-link-text icon">Lire la suite</span></a>
                            <span class="actus-item-date"><span class="actus-item-date-day">{{actu.date.day}}</span><br>{{actu.date|date:'b'}}</span>
                        </div>
                        <h2 class="actus-item-title">{{actu.titre}}</h2>
                        <p class="actus-item-text">{{actu.contenu|markdown|striptags|truncatewords:6}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% for page in pagination %}
                <a href="?p={{page}}" class="pagination-item">{{page}}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}